---
layout: layout
---
<style>

    header .bg-header {
        height: 560px;
        /*background-color: #62A4FF;*/
        background-image: -webkit-linear-gradient(top, #54D3DD, #9778F9)
    }

    /*头像*/
    .bg-header .avatar img {
        border-radius: 50%;
        margin-top: 100px;
        max-width: 170px;
    }

    .bg-header h1,
    .bg-header h2 {
        color: white;
    }

    /*姓名*/
    .bg-header h1 {
        letter-spacing: 2px;
        text-shadow: 0 0 10px rgba(15, 15, 15, .3);
    }

    /*描述*/
    .bg-header h2 {
        font-size: 18px;
        margin-top: 12px;
    }

    /*整个作品展示区*/
    .works-area {
        margin-top: -175px;
    }

    .works-area .works-item {
        width: 80%;
        max-width: 1200px;

        border-radius: 2px;
        border: 1px solid #eee8d5;
        margin: 25px auto;
        box-shadow: 8px 5px 10px rgba(0, 0, 0, .2);
    }

    .works-item-img {
        margin: auto -26px;
    }

    .works-item-img img {
        width: 100%;
    }

    .works-area .works-item {
        background: white;
        padding: 0 25px 15px;
    }

    .works-item .works-content {
        padding-top: 15px;
    }

    .works-item .title {
        height: 50px;
        margin: 0;
    }

    .works-item .title{
        font-size: 18px;
    }

    .works-item .use span {
        display: inline-block;
        font-size: 12px;
        border-radius: 3px;
        padding: 0 4px;
        border: thin solid #795548;
    }

    .works-item .subtitle {
        margin: 0;
        font-size: 17px;
    }
</style>

<div class="works-container" style="background-color: #fafafa">
    <header>
        <div class="bg-header is-flex justify-center">
            <div class="profile">
                <div class="avatar">
                    <img src="<%- theme.user_avatar %>">
                </div>
                <div class="personal-profile has-text-centered content">
                    <h1>
                        <%- theme.user_name %>
                    </h1>
                    <h2>-- 个人作品集 --</h2>
                </div>
            </div>
        </div>
    </header>
    <div class="container works-area">
        <% for(var obj in site.data.project){ %>
            <div class="works-item">
                <div class="title is-flex center justify-space-between ">
                    <span>
                        <strong><%= site.data.project[obj].title %></strong>
                    </span>
                    <span class="title-date tag is-dark">
                        <%= site.data.project[obj].data %>
                    </span>
                </div>
                <div class="works-item-img">
                    <img src="<%= site.data.project[obj].img_link %>">
                </div>
                <div class="works-content">
                    <div class="use text-warning">
                        <% for (var arrayVal in site.data.project[obj].use ){ %>
                        <span>
                                <%= site.data.project[obj].use[arrayVal] %>
                            </span>
                        <% } %>
                    </div>
                    　
                    <p class="subtitle"> <%= site.data.project[obj].subTitle %> </p>

                    <p class="text-muted"> <%- site.data.project[obj].direction %> </p>
                </div>
                <div class="is-flex" style="margin-top: 30px;">
                    <a class="button is-info" href="<%= site.data.project[obj].link %>" target="_blank">
                        Open it
                    </a>
                </div>

            </div>
        <% } %>
    </div>
</div>